/* background */
body {
	background: #C2C4C6 url('assets/layout/backgrounds/background_big.png') no-repeat center;
	background-size: cover;
	padding: 0;
 	margin: 0;
	}

body.null {
	background: black;
	padding: 0;
 	margin: 0;
	}


/* spacing on text */
td.top_buttons { 
	padding-left: 50px;
}

/* buttons on top */
a.topnav_text, A:link.topnav_text, A:visited.topnav_text, A:active.topnav_text {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #FCFCFC;
	text-decoration: none;}
	
/* buttons on middle */
a.midnav_text, A:link.midnav_text, A:visited.midnav_text, A:active.midnav_text {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #FCFCFC;
	text-decoration: none;
	padding-right: 10px;}
	
/* buttons on side */
a.sidenav_text, A:link.sidenav_text, A:visited.sidenav_text, A:active.sidenav_text {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 15px;
	color: #0000BD;
	text-decoration: none;
	padding-left: 10px;}


/* background color*/
td.regular {
	vertical-align: top;
	background-color:#E6E5E3;	
	padding-top: 10px;

	}

/* images at bottom*/
td.side-button {
	vertical-align: text-bottom;
	}
	
/* images at bottom*/
img.side-button {
	vertical-align: text-bottom;
	}
	
/* sidebar alignment*/
td.sidebar_new, table.sidebar_new {
  vertical-align: text-top;
  vertical-align:top;
  padding-top: 10px;
  	}
  	
	
/* background color*/
td.sidebar_bg {
	background-image: url('../assets/layout/other/sidebar_middle.png');
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-size: 100% 100%;
	}


/* wide adverts */
img.wide_adverts {
	padding-top: 10px;
	padding-bottom: 10px;
	}

/* wide adverts */
img.rf-advert {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	}

/* small thumbnails */
img.thumb_small {
	text-align: left;
	padding-top: 10px;
	padding-bottom: 10px;
	}

/* featured iframe */
iframe.featured {
	border:none;
	padding-top: 10px;	
	vertical-align:middle;
	}
	
/* ARTICLE HEADLINE */
h1.article_title {
	border:none;
	text-align: left;
	font-family: Verdana, Arial, sans-serif;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 2px 2px 2px black;
	color: #41BA7A;
	padding-left:10px;
	vertical-align:top;
	}
	
/* Regular text */
p.regular_text {
	border:none;
	text-align: left;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	color: black;
	text-decoration: none;}
	}

/* regular link */
a.regular_link, A:link.regular_link, A:visited.regular_link, A:active.regular_link {
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #41BA7A;
	text-decoration: none;}


